body {
    /* display: float; */
    /* background: url(images/background-chispas.jpg); */
    /* background-color: rgb(6, 6, 6); */
    /* background-size: cover; */
    color: rgb(4, 4, 4);
}

/* h1 {
    color: aqua
}

p {
    color: azure
}

li {
    color: azure
}

header ul li {
    display: inline;
} */
.main_body {
    display: flex;
}

.header {
    height: 2em;
    border: 1px solid #c3c3c3;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-bar {
    display: flex;
    width: 22%;
    justify-content: space-evenly;
}

.wrapper {
    display: flex;
    align-items: center;
    padding-left: 2em;
}

/* #search-bar {
    text-align: right;
    display:flex;
    float: right;
    background-color: rgba(187, 204, 216, 0.4);
    position: right;
    margin-right: 100px;
} */

.profile-pic {
    width: 200px;
    /* position: relative; */
    margin-right: 50px;
    border-radius: 30%;
}

/* #menu {
    color: white;
    background-color: rgba(121, 177, 218, 0.4);
    border-radius: 20%;
} */

.about-me-right {
    /* background-color: rgb(194, 139, 145, 0.3); */
    position: relative;
    padding: 100px 50px;
}

/* 
.education {
    background-color: rgba(118, 162, 194, 0.4);
} */
/* 
.cursos {
    background-color: rgba(153, 153, 89, 0.8);
} */

.icon-linkedin {
    border-radius: 40%;
}

.footer {
    margin-left: 150px;
    position: center;
    position: bottom;
}